<h1>New Puzzle</h1>

<p>Choose level of difficulty</p>

<%= form_for @puzzle do |f| %>
  <%= f.label "Easy" %>
  <%= f.radio_button(:difficulty, 0) %>
  <%= f.label "Medium" %>
  <%= f.radio_button(:difficulty, 1) %>
  <%= f.label "Hard" %>
  <%= f.radio_button(:difficulty, 2) %><br><br>
  <%= f.submit "Create Puzzle" %>
<% end %>